In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("loans-raw.csv")

In [7]:
df.shape

(625, 13)

In [24]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [28]:
df["Dependents"].value_counts()

Dependents
0     349
1     102
2     101
3+     51
Name: count, dtype: int64

In [30]:
df["Credit_History"].value_counts()

Credit_History
1.0    478
0.0     89
Name: count, dtype: int64

In [32]:
c

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        33
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           23
Loan_Amount_Term     14
Credit_History       51
Property_Area         0
Loan_Status           0
dtype: int64

In [34]:
df.dropna()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
620,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
621,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
622,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
623,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
624,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [38]:
df2 = df.dropna()

In [40]:
df2.shape

(483, 13)

### DATA WRANGLING

#### check for duplicates

In [13]:
df.duplicated().sum()

7

In [15]:
df.drop_duplicates(inplace=True)

In [17]:
df.duplicated().sum()

0

#### check for missing values

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 618 entries, 0 to 624
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            618 non-null    object
 1   Gender             605 non-null    object
 2   Married            615 non-null    object
 3   Dependents         603 non-null    object
 4   Education          618 non-null    object
 5   Self_Employed      585 non-null    object
 6   ApplicantIncome    618 non-null    int64
 7   CoapplicantIncome  618 non-null    float64
 8   LoanAmount         595 non-null    float64
 9   Loan_Amount_Term   604 non-null    float64
 10  Credit_History     567 non-null    float64
 11  Property_Area      618 non-null    object
 12  Loan_Status        618 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 67.6+ KB

#### input missing values

In [43]:
df.loanAmount.fillna(df.LoanAmount.mean(), inplace=True)

AttributeError: 'DataFrame' object has no attribute 'loanAmount'

In [45]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        33
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           23
Loan_Amount_Term     14
Credit_History       51
Property_Area         0
Loan_Status           0
dtype: int64

In [49]:
df.Married.value_counts()

Married
Yes    399
No     216
Name: count, dtype: int64

In [55]:
df.Gender.value_counts()

Gender
Male      414
Female    112
male       79
Name: count, dtype: int64

In [57]:
df.Gender.apply(str.upper)

TypeError: descriptor 'upper' for 'str' objects doesn't apply to a 'float' object

In [65]:
df.Gender.fillna("MALE", inplace=True)

In [69]:
df.Gender.value_counts()

Gender
Male      414
Female    112
male       79
MALE       13
Name: count, dtype: int64

In [71]:
df.Gender.apply(str.upper)

0        MALE
1        MALE
2        MALE
3        MALE
4        MALE
        ...
620    FEMALE
621      MALE
622      MALE
623      MALE
624    FEMALE
Name: Gender, Length: 618, dtype: object

In [73]:
df.Gender.value_counts()

Gender
Male      414
Female    112
male       79
MALE       13
Name: count, dtype: int64