In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("loans-raw.csv")

In [3]:
df.shape

(625, 13)

In [4]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
df['Dependents'].value_counts()

Dependents
0     354
1     102
2     102
3+     51
Name: count, dtype: int64

In [6]:
df['Credit_History'].value_counts()

Credit_History
1.0    485
0.0     89
Name: count, dtype: int64

### Data Wrangling

#### Check for duplicates

In [9]:
df.duplicated().sum()

7

In [10]:
df.drop_duplicates(inplace=True) # remove duplicates

In [11]:
df.duplicated().sum()

0

#### Check for missing values

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 618 entries, 0 to 624
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            618 non-null    object
 1   Gender             605 non-null    object
 2   Married            615 non-null    object
 3   Dependents         603 non-null    object
 4   Education          618 non-null    object
 5   Self_Employed      585 non-null    object
 6   ApplicantIncome    618 non-null    int64
 7   CoapplicantIncome  618 non-null    float64
 8   LoanAmount         595 non-null    float64
 9   Loan_Amount_Term   604 non-null    float64
 10  Credit_History     567 non-null    float64
 11  Property_Area      618 non-null    object
 12  Loan_Status        618 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 67.6+ KB

In [20]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        33
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           23
Loan_Amount_Term     14
Credit_History       51
Property_Area         0
Loan_Status           0
dtype: int64

In [24]:
df2 = df.dropna() # drops all rows with missing data

In [25]:
df2.shape

(483, 13)

In [27]:
483/618

0.7815533980582524

#### Impute missing values

In [33]:
df.LoanAmount.fillna(df.LoanAmount.mean(), inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13296\2367260928.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.LoanAmount.fillna(df.LoanAmount.mean(), inplace=True)

In [35]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        33
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       51
Property_Area         0
Loan_Status           0
dtype: int64

In [37]:
df.Married.value_counts()

Married
Yes    399
No     216
Name: count, dtype: int64

In [39]:
df.Married.fillna('Yes', inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13296\4011617713.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Married.fillna('Yes', inplace=True)

In [41]:
df.Gender.fillna('MALE',inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13296\1392116238.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Gender.fillna('MALE',inplace=True)

In [70]:
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents           15
Education             0
Self_Employed        33
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       51
Property_Area         0
Loan_Status           0
LoanAmountINR         0
dtype: int64

In [72]:
df.Dependents.value_counts()

Dependents
0     349
1     102
2     101
3+     51
Name: count, dtype: int64

In [76]:
df.Dependents.fillna('0', inplace=True)

In [78]:
df.isna().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed        33
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       51
Property_Area         0
Loan_Status           0
LoanAmountINR         0
dtype: int64

In [80]:
df.Dependents.value_counts()

Dependents
0     349
1     102
2     101
3+     51
0      15
Name: count, dtype: int64

In [86]:
df.Self_Employed.value_counts()

Self_Employed
No     503
Yes     82
Name: count, dtype: int64

In [92]:

df.Credit_History.value_counts()

Credit_History
1.0    478
0.0     89
Name: count, dtype: int64

In [94]:
df.Loan_Amount_Term.value_counts()

Loan_Amount_Term
360.0    515
180.0     44
480.0     15
300.0     13
120.0      4
240.0      4
84.0       4
60.0       2
36.0       2
12.0       1
Name: count, dtype: int64

In [98]:
df.Self_Employed.fillna('Yes', inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13296\281363963.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Self_Employed.fillna('Yes', inplace=True)

In [100]:
df.Credit_History.fillna('0.0', inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13296\2457697683.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Credit_History.fillna('0.0', inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13296\2457697683.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.0' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.Credit_History.fillna('0.0', inplace=True)

In [102]:
df.Loan_Amount_Term.mean()

341.72185430463577

In [104]:
df.Loan_Amount_Term.fillna('300', inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13296\3007558543.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Loan_Amount_Term.fillna('300', inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_13296\3007558543.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '300' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.Loan_Amount_Term.fillna('300', inplace=True)

In [106]:
df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
LoanAmountINR        0
dtype: int64

#### Normalization

Loan_Amount_Term
360.0    515
180.0     44
480.0     15
300.0     13
120.0      4
240.0      4
84.0       4
60.0       2
36.0       2
12.0       1
Name: count, dtype: int64

In [44]:
df.Gender.value_counts()

Gender
Male      414
Female    112
male       79
MALE       13
Name: count, dtype: int64

In [46]:
df['Gender'] = df.Gender.apply(str.upper)

In [48]:
df.Gender.value_counts()

Gender
MALE      506
FEMALE    112
Name: count, dtype: int64

#### Transform data

In [ ]:
df.Gender.value_counts()

In [51]:
df['LoanAmountINR'] = df.LoanAmount * 84

In [53]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,LoanAmountINR
0,LP001002,MALE,No,0,Graduate,No,5849,0.0,146.005042,360.0,1.0,Urban,Y,12264.423529
1,LP001003,MALE,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N,10752.000000
2,LP001005,MALE,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y,5544.000000
3,LP001006,MALE,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y,10080.000000
4,LP001008,MALE,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y,11844.000000

### save the data

In [56]:
df.to_csv("loans-cleaned-ram.csv", index=False)

In [58]:
df.to_excel("loans-cleaned-ram.xlsx", index=False)